[Unit]
Description="development lofi-node systemd service | this should not be used for anything but testing."
After=network.target

[Service]
User=root
ExecStart=/var/local/lofi-node/start

[Install]
WantedBy=multi-user.target
