[Unit]
Description="lofi-node systemd service"
After=network.target

[Service]
User=root
ExecStart=/var/local/lofi-node/start

[Install]
WantedBy=multi-user.target